@{ 
    ViewData["Title"] = "Home | ";
}

@model List<Product>;

<h3>Catálogo</h3>


<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @{
            const int SIZE_PAGE = 4;
            int pages = (int)Math.Ceiling((double)Model.Count() / SIZE_PAGE);
        }
        @for (int page = 0; page < pages; page++)
        {
            <div class="item @(page == 0 ? "active" : "")">
                <div class="row">
                    @{
                        var products = Model.Skip(page * SIZE_PAGE).Take(SIZE_PAGE);
                    }
                    @foreach (var product in products)
                    {
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img class="img-product-carousel" src="/images/products/large_@(product.Code).jpg" />
                                </div>
                                <div class="panel-footer product-footer">
                                    <div class="product-name">@product.Name</div>
                                    <div><h4><strong>R$ @product.Price</strong></h4></div>
                                    <div class="text-center">
                                        <a asp-action="Cart" asp-route-code="@product.Code" class="btn btn-success">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>